*~
/auto-save-list
/el-get
/.org-id-locations
/abbrev_defs
/ac-comphist.dat
/anything-c-adaptive-history
/bookmarks
/projectile-bookmarks.eld
/semanticdb/!home!twillis!projects!ysn.env!src!src!ysn!ysn!semantic.cache
/srecode-map.el
/tramp
/url/cookies
/lib/flymake-python/
